#w1 {
    position: relative;
    left: 50px;
    top: 40px;
    width: 201px;
    height: 41px;
    line-height: 41px;
    color: rgba(143, 167, 255, 1);
    font-size: 28px;
    text-align: center;
    font-family: "Roboto";
}

#w6 {
    position: relative;
    left: 95px;
    top: 38px;
    width: 258px;
    height: 41px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

#t1 {
    position: relative;
    left: 130px;
    top: 33px;
    width: 30px;
    height: 30px;
}

#w5 {
    position: relative;
    left: 127px;
    top: 38px;
    width: 41px;
    height: 32px;
    line-height: 29px;
    color: rgba(255, 152, 0, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#w3 {
    position: relative;
    left: 435px;
    top: 37px;
    width: 79px;
    height: 35px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

#ds {
    position: relative;
    left: 1016px;
    top: 1px;
    width: 70px;
    height: 35px;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}

#t2 {
    position: relative;
    left: 1068px;
    top: -40px;
    width: 16px;
    height: 16px;
}

#t2c {
    position: relative;
    left: 1048px;
    top: -24px;
    width: 16px;
    height: 16px;
}

#w {
    position: relative;
    left: 8px;
    top: 33px;
    width: 41px;
    height: 29px;
    line-height: 29px;
    color: rgba(94, 94, 94, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#x1 {
    position: relative;
    left: -44px;
    top: 47px;
    width: 47px;
    height: 24px;
}

#x1c {
    position: relative;
    left: -755px;
    top: 23px;
    width: 47px;
    height: 24px;
}

#x2 {
    position: relative;
    left: 264px;
    top:47px;
    width: 800px;
    height: 14px;
}

#x2c {
    position: relative;
    left: -40px;
    top: 23px;
    width: 800px;
    height: 14px;
}

#t3 {
    position: relative;
    left: 64px;
    top: 20px;
    width: 1058px;
    height: 460px;
}

#wc {
    position: absolute;
    left: 52px;
    top: 647px;
    width: 81px;
    height: 29px;
    line-height: 29px;
    color: rgba(94, 94, 94, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#xc1 {
    position: relative;
    left: 92px;
    top: 81px;
    width: 47px;
    height: 24px;
}

#xc1c {
     position: relative;
     left: -730px;
     top: 57px;
     width: 47px;
     height: 24px;
 }

#xc1cc {
    position: relative;
    left:-810px;
    top:57px;
    width: 47px;
    height: 24px;
}

#xc2 {
    position: relative;
    left: -40px;
    top: 81px;
    width: 800px;
    height: 14px;
}

#xc2c {
    position: relative;
    left: 400px;
    top: 57px;
    width: 800px;
    height: 14px;
}

#t4 {
    position: relative;
    left: 65px;
    top: 55px;
    width: 1058px;
    height: 460px;
}

#w6c {
    position: absolute;
    left: 1210px;
    top: 40px;
    width: 140px;
    height: 43px;
    line-height: 41px;
    color: rgba(94, 94, 94, 1);
    font-size: 28px;
    text-align: center;
    font-family: Roboto;
}

#w4c {
    position: absolute;
    left: 1200px;
    top: 86px;
    width: 174px;
    height: 79px;
    line-height: 75px;
    color: rgba(245, 93, 84, 1);
    font-size: 52px;
    text-align: center;
    font-family: Roboto;
}

#x3 {
    position: relative;
    left: 1110px;
    top: -924px;
    width: 350px;
    height: 11px;
}

#x3c {
    position: relative;
    left: 758px;
    top: -750px;
    width: 350px;
    height: 11px;
}

#x3cc {
    position: relative;
    left: 403px;
    top: -590px;
    width: 350px;
    height: 11px;
}

#x4 {
    position: absolute;
    left: 1280px;
    top: 168px;
    width: 10px;
    height: 390px;
}

#j1 {
    position: absolute;
    left: 1180px;
    top: 250px;
    width: 57px;
    height: 34px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#j3 {
    position: absolute;
    left: 1325px;
    top: 250px;
    width: 57px;
    height: 34px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#j6 {
    position: absolute;
    left: 1180px;
    top: 415px;
    width: 57px;
    height: 34px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#j12 {
    position: absolute;
    left: 1318px;
    top: 415px;
    width: 70px;
    height: 34px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#j1s {
    position: absolute;
    left: 1164px;
    top: 298px;
    width: 94px;
    height: 49px;
    line-height: 41px;
    color: black;
    font-size: 28px;
    text-align: center;
    font-family: Roboto;
}

#j3s {
    position: absolute;
    left: 1310px;
    top: 298px;
    width: 94px;
    height: 49px;
    line-height: 41px;
    color: black;
    font-size: 28px;
    text-align: center;
    font-family: Roboto;
}

#j6s {
    position: absolute;
    left: 1164px;
    top: 458px;
    width: 94px;
    height: 49px;
    line-height: 41px;
    color: black;
    font-size: 28px;
    text-align: center;
    font-family: Roboto;
}

#j12s {
    position: absolute;
    left: 1310px;
    top: 458px;
    width: 94px;
    height: 49px;
    line-height: 41px;
    color: black;
    font-size: 28px;
    text-align: center;
    font-family: Roboto;
}

#w3c {
    position: absolute;
    left: 1170px;
    top: 573px;
    width: 111px;
    height: 38px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#w4cc {
    position: absolute;
    left: 1300px;
    top: 573px;
    width: 111px;
    height: 42px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#jx {
    position: absolute;
    left: 1157px;
    top: 639px;
    width: 257px;
    height: 54px;
    line-height: 32px;
    border-radius: 5px;
    background-color: rgba(245, 93, 84, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 0px 0px 0px rgba(229, 229, 229, 1);
    font-family: Roboto;
    border: 1px solid rgba(255, 255, 255, 0);
}

#w7 {
    position: absolute;
    left: 1196px;
    top: 797px;
    width: 193px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
}

#w8 {
    position: absolute;
    left: 1231px;
    top: 843px;
    width: 114px;
    height: 47px;
    line-height: 46px;
    color: rgba(245, 93, 84, 1);
    font-size: 32px;
    text-align: center;
    font-family: Roboto;
}

#w9 {
    position: absolute;
    left: 1174px;
    top: 957px;
    width: 111px;
    height: 38px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#w10 {
    position: absolute;
    left: 1337px;
    top: 955px;
    width: 74px;
    height: 41px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#w11 {
    position: absolute;
    left: 1175px;
    top: 1030px;
    width: 67px;
    height: 38px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#w12 {
    position: absolute;
    left: 1337px;
    top: 1026px;
    width: 74px;
    height: 41px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#w13 {
    position: absolute;
    left: 1177px;
    top: 1102px;
    width: 89px;
    height: 38px;
    line-height: 32px;
    color: rgba(94, 94, 94, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#w14 {
    position: absolute;
    left: 1337px;
    top: 1099px;
    width: 74px;
    height: 41px;
    line-height: 32px;
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#w15 {
    position: absolute;
    left: 55px;
    top: 1209px;
    width: 61px;
    height: 29px;
    line-height: 29px;
    color: rgba(94, 94, 94, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#x5 {
    position: absolute;
    left: 46px;
    top: 1234px;
    width: 67px;
    height: 22px;
}

#x5c {
    position: absolute;
    left: 60px;
    top: 1234px;
    width: 67px;
    height: 22px;
}

#x6 {
    position: absolute;
    left: -28px;
    top: 1240px;
    width: 1042px;
    height: 10px;
}

#x6c {
    position: absolute;
    left: 188px;
    top: 1240px;
    width: 1042px;
    height: 10px;
}

#dhsr {
    position: absolute;
    left: 58px;
    top: 1270px;
    width: 1025px;
    height: 100px;
    line-height: 29px;
    color: rgba(136, 136, 136, 1);
    font-size: 20px;
    text-align: left;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(187, 187, 187, 1);
}

#jx2 {
    position: absolute;
    left: 70px;
    top: 1385px;
    width: 152px;
    height: 40px;
    line-height: 29px;
    border-radius: 5px;
    background-color: rgba(70, 172, 227, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#yh1 {
    position: absolute;
    left: 67px;
    top: 1470px;
    width: 80px;
    height: 80px;
    border-radius: 60px;
}

#yh2 {
    position: absolute;
    left: 68px;
    top: 1810px;
    width: 80px;
    height: 79px;
    border-radius: 60px;
}

#yh3 {
    position: absolute;
    left: 68px;
    top: 2140px;
    width: 80px;
    height: 80px;
    border-radius: 60px;
}

#yh4 {
    position: absolute;
    left: 72px;
    top: 2350px;
    width: 80px;
    height: 80px;
    border-radius: 60px;
}

#yh1name {
     position: absolute;
     left: 86px;
     top: 1570px;
     width: 42px;
     height: 32px;
     line-height: 32px;
     color: rgba(63, 81, 181, 1);
     font-size: 22px;
     text-align: center;
     font-family: Roboto;
 }

#yh1nr {
    position: absolute;
    left: 177px;
    top: 1470px;
    width: 942px;
    height: 60px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
}

#yh1time {
    position: absolute;
    left: 177px;
    top: 1538px;
    width: 224px;
    height: 32px;
    line-height: 26px;
    color: rgba(150, 151, 158, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

#yh1hf {
    position: absolute;
    left: 178px;
    top: 1580px;
    width: 943px;
    height: 100px;
    line-height: 29px;
    color: rgba(136, 136, 136, 1);
    font-size: 20px;
    text-align: left;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(187, 187, 187, 1);
}

#yh1hfjx {
    position: absolute;
    left: 177px;
    top: 1690px;
    width: 140px;
    height: 40px;
    line-height: 29px;
    border-radius: 5px;
    background-color: rgba(70, 172, 227, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#yh1hfjx2 {
    position: absolute;
    left: 323px;
    top: 1690px;
    width: 140px;
    height: 40px;
    line-height: 29px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(94, 94, 94, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#yh2name {
    position: absolute;
    left: 80px;
    top: 1909px;
    width: 57px;
    height: 32px;
    line-height: 32px;
    color: rgba(63, 81, 181, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#yh2nr {
    position: absolute;
    left: 177px;
    top: 1810px;
    width: 942px;
    height: 109px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
}

#yh2time {
    position: absolute;
    left: 177px;
    top: 2028px;
    width: 224px;
    height: 32px;
    line-height: 26px;
    color: rgba(150, 151, 158, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

#yh2hf {
    position: absolute;
    left: 226px;
    top: 1929px;
    width: 896px;
    height: 79px;
    line-height: 32px;
    background-color: rgba(244, 244, 244, 1);
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
}

#yh2hfjx {
    position: absolute;
    left: 433px;
    top: 2028px;
    width: 37px;
    height: 32px;
    line-height: 26px;
    color: rgba(63, 81, 181, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

#yh3name {
    position: absolute;
    left: 86px;
    top: 2242px;
    width: 45px;
    height: 32px;
    line-height: 32px;
    color: rgba(63, 81, 181, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#yh3nr {
    position: absolute;
    left: 182px;
    top: 2148px;
    width: 942px;
    height: 32px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
}

#yh3time {
    position: absolute;
    left: 182px;
    top: 2198px;
    width: 224px;
    height: 32px;
    line-height: 26px;
    color: rgba(150, 151, 158, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

#yh3hfjx {
    position: absolute;
    left: 453px;
    top: 2198px;
    width: 37px;
    height: 32px;
    line-height: 26px;
    color: rgba(63, 81, 181, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

#yh4name {
    position: absolute;
    left: 86px;
    top: 2448px;
    width: 45px;
    height: 32px;
    line-height: 32px;
    color: rgba(63, 81, 181, 1);
    font-size: 22px;
    text-align: center;
    font-family: Roboto;
}

#yh4nr {
    position: absolute;
    left: 182px;
    top: 2358px;
    width: 942px;
    height: 32px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
}

#yh4hf {
    position: absolute;
    left: 222px;
    top: 2410px;
    width: 897px;
    height: 140px;
    line-height: 32px;
    background-color: rgba(244, 244, 244, 1);
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
}

#yh4time {
    position: absolute;
    left: 178px;
    top: 2578px;
    width: 224px;
    height: 32px;
    line-height: 26px;
    color: rgba(150, 151, 158, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

#yh4hfjx {
    position: absolute;
    left: 170px;
    top: 2730px;
    width: 140px;
    height: 40px;
    line-height: 29px;
    border-radius: 5px;
    background-color: rgba(70, 172, 227, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#yh4hfjx2 {
    position: absolute;
    left: 310px;
    top: 2730px;
    width: 140px;
    height: 40px;
    line-height: 29px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(94, 94, 94, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

#yh4hf2 {
    position: absolute;
    left: 171px;
    top: 2620px;
    width: 943px;
    height: 100px;
    line-height: 29px;
    color: rgba(136, 136, 136, 1);
    font-size: 20px;
    text-align: left;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(187, 187, 187, 1);
}

#xx {
    position: absolute;
    left: -150px;
    width: 1500px;
    height: 11px;
}

#ym {
    position: absolute;
    left: 73px;
    top: 2830px;
    width: 80px;
    height: 40px;
    line-height: 26px;
    color: rgba(16, 16, 16, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}

#ym1 {
    position: absolute;
    left: 152px;
    top: 2830px;
    width: 44px;
    height: 40px;
    line-height: 26px;
    background-color: rgba(70, 172, 227, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}

#ym2 {
    position: absolute;
    left: 196px;
    top: 2830px;
    width: 44px;
    height: 40px;
    line-height: 26px;
    color: rgba(16, 16, 16, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}

#ym3 {
    position: absolute;
    left: 240px;
    top: 2830px;
    width: 44px;
    height: 40px;
    line-height: 26px;
    color: rgba(16, 16, 16, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}

#ym4 {
    position: absolute;
    left: 284px;
    top: 2830px;
    width: 44px;
    height: 40px;
    line-height: 26px;
    color: rgba(16, 16, 16, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}

#ym7 {
    position: absolute;
    left: 328px;
    top: 2830px;
    width: 44px;
    height: 40px;
    line-height: 26px;
    color: rgba(16, 16, 16, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}

#yme {
    position: absolute;
    left: 371px;
    top: 2830px;
    width: 80px;
    height: 40px;
    line-height: 26px;
    color: rgba(16, 16, 16, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
}

.goumai {
    position: relative;
    top: 58px;
    left: 140px;
    width: 257px;
    height: 35px;
    margin-top: 80px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
}