.messages {
    position: relative;
    width: 880px;
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    float: right;
}

.message {
    position: relative;
    margin-left: 70px;
    width: 810px;
    margin-top: 10px;
    float: left;
}

.message div{
    width: 80px;
    height: 160px;
    float: left;
}

.message div img{
    height: 79px;
    border-radius: 60px;
}

.message_details{
    line-height: 26px;
    margin-left: 30px;
    width: 700px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
    font-family: Roboto;
    float: left;
}

.message div p{
    margin-top: 12px;
    line-height: 30px;
    color: rgba(63, 81, 181, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.message_user {
    line-height: 26px;
    color: rgba(150, 151, 158, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
}

.message_history {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
    padding: 8px;
    padding-right: 20px;
    width: 670px;
    line-height: 32px;
    background-color: rgba(244, 244, 244, 1);
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: left;
    font-family: Roboto;
}

.message_time {
    margin-top: 15px;
    margin-left: 110px;
    line-height: 26px;
    color: rgba(150, 151, 158, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
    float: left;
}

.message button{
    margin-top: 13px;
    margin-left: 30px;
    line-height: 26px;
    color: rgba(63, 81, 181, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
    float: left;
}

.line {
    position: relative;
    margin-top: 30px;
    left: -140px;
    top: 0px;
    width: 1100px;
    height: 11px;
    margin-bottom: 18px;
}

.page {
    margin-bottom: 20px;
    height: 60px;
    width: 800px;
    float: left;
}



#active {
    background-color: #46ACE3;
    color: #ffffff;
}

.mibtn-primary {
    width: 120px;
    height: 32px;
    background-color: #46ACE3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 2%;
}


#comment-area {
    margin-top: 20px;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.avatar-bar {
    width: 8%;
    float: left;
    margin-bottom: 10px;
}

.avatar {
    width: 98%;
    height: auto;
    border-radius: 50%;
}

.username {
    color: rgb(63, 81, 181);
    text-align: center;
    margin-top: 5px;
}

.comment-text {
    float: right;
    width: 88%;
    margin-bottom: 10px;
}

.comment-sub {
    width: 95%;
    float: right;
    background-color: rgb(244, 244, 244);
    margin-top: 10px;
    padding: 4px;
}

.comment-main, .comment-sub {
    color: #5e5e5e;
    font-size: 14px;
}

.comment-time {
    color: #96979e;
    font-size: 12px;
    float: left;
    margin-top: 10px;
}

.comment-replay {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 12px;
    color: rgb(63, 81, 181);
}

hr {
    margin-bottom: 30px;
}

.contract-tip {
    float: right;
    font-size: 14px;
    color: rgb(63, 81, 181);
    padding-top: 10px;
}

.comment-replay-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.comment-text-area {
    width: 100%;
    margin-top: 10px;
    min-height: 80px;
    border-color: #bbb;
}

.mibtn-secondry {
    width: 120px;
    height: 32px;
    background-color: rgb(244, 244, 244);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 20px;
}
