button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
}

.password {
    position: relative;
    width: 880px;
    margin-top: 20px;
    font-family: Roboto;
    float: right;
    padding-left: 100px;
}

.passwordContent {
    width: 420px;
    display: flex;
    flex-direction: column;
}


#sectionHeader {
    font-size: 24px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-family: Roboto;
    margin-bottom: 35px;
}

.passwordInput {
    height: 40px;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    text-align: left;
    font-family: PingFang SC;
    border: 1px solid rgba(187, 187, 187, 1);
    margin-bottom: 40px;
    padding-left: 3px;
    padding-right: 3px;
}

#submitBtn {
    width: 140px;
    height: 40px;
    line-height: 29px;
    border-radius: 5px;
    background-color: rgba(70, 172, 227, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    margin-top: 46px;
}