button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
}

.person_title{
    /*position: relative;*/
    margin-top: 20px;
    width: 200px;
    height: 100px;
    line-height: 100px;
    background-color: rgba(253, 104, 87, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;

}

.person_board{
    left: 70px;
    top: 160px;
    width: 200px;
    height: 470px;
    line-height: 20px;
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(229, 229, 229, 1);

}



.personbutton{
    position: relative;
    left: 0px;
    margin-top: 40px;
    width: 90px;
    height: 29px;
    line-height: 29px;
    color: rgba(94, 94, 94, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;

}


.collectionbutton{
    position: relative;
    left: 0px;
    margin-top: 40px;
    width: 90px;
    height: 29px;
    line-height: 29px;
    color: #FD6857 ;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.red_block{
    position: relative;
    left: 189px;
    top: -98px;
    width: 10px;
    height: 30px;
    line-height: 20px;
    background-color: rgba(253, 104, 87, 1);
    text-align: center;

}





.futures{
    margin-bottom: 30px;
    margin-top: -570px;
    margin-left: 250px;
    width: 77%;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.futureboard{
    width: 45%;
    height: 400px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 2px 2px 6px 2px rgba(229, 229, 229, 1);
    border: 1px solid rgba(255, 255, 255, 0);

}

.future_name{
    margin-left: 15px;
    margin-top: 30px;
    width: 77%;
    line-height: 35px;
    color: rgba(143, 167, 255, 1);
    font-size: 24px;
    text-align: left;
    font-family: Roboto;
}

.staricon{
    position: relative;
    width: 28px;
    height: 28px;
    top: -37px;
    left: 125px;
}


.collectbutton{
    position: relative;
    top: -33px;
    left: 125px;
    line-height: 29px;
    color: rgba(255, 152, 0, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}

.legend{
    float: left;
    margin-left: 0px;
    position: relative;
    width: 200px;
    height: 30px;
    top: -20px;
    left: 15px;
    display: inline-block;

}



.lengend_red
{
    width: 8px;
    height: 12px;
    line-height: 20px;
    background-color: rgba(204, 8, 14, 1);
    text-align: center;
    border: 1px solid rgba(204, 8, 14, 1);
}

.lengend_red_text{

    float: left;
    width: 60px;
    height: 17px;
    line-height: 20px;
    color: rgba(204, 8, 14, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

    position: relative;
    top: -15px;
    left: 10px;
}

.lengend_blue
{
    width: 8px;
    height: 12px;
    line-height: 20px;
    background-color: #3F51B5;
    text-align: center;
    border: 1px solid #3F51B5;
    position: relative;
    left: 85px;
    top:-12px;
}

.lengend_blue_text{

    float: left;
    width: 60px;
    height: 17px;
    line-height: 20px;
    color: #3F51B5;
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

    position: relative;
    top: -27px;
    left: 35px;
}

.mobilityvalue{
    position: relative;
    left: 200px;
    top: -53px;
    width: 133px;
    height: 20px;
    line-height: 20px;
    color: rgba(94, 94, 94, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

}


.graphdiv{
    width: 96%;
    height: 140px;
    position: relative;
    left: 10px;
    top: -20px;
}

.info{
    width: 90%;
    height: 120px;
    position: relative;
    left: 0px;
    top:0px;
    display: inline-block;
    /*background-color: #9fcdff;*/
}


.profit{
    position: relative;
    left: 0px;
    width: 70px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

}

.retracement{
    position: relative;
    left: 110px;
    top: -100px;
    width: 70px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

}

.carry{
    position: relative;
    left: 195px;
    top: -200px;
    width: 137px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

}

.profittext{
    position: relative;

    width: 100px;
    height: 27px;
    line-height: 35px;
    color: rgba(245, 93, 84, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    left: -10px;
    font-weight: bold;
}

.retracementtext{
    position: relative;
    top: -100px;
    left: 80px;
    width: 130px;
    height: 27px;
    line-height: 35px;
    color: rgba(16, 16, 16, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;

}

.carrytext{
    position: relative;
    top: -200px;
    left: 210px;

    width: 100px;
    height: 27px;
    line-height: 35px;
    color: rgba(245, 93, 84, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;

    font-weight: bold;
}




.divisioner1{
    position: relative;
    left: 90px;
    top: -48px;
    width: 1px;
    height: 50px;
    background-color: #96979E;
}


.divisioner2{
    position: relative;
    left: 195px;
    top: -148px;
    width: 1px;
    height: 50px;
    background-color: #96979E;
}





.win{
    position: relative;
    left: 0px;
    top: -185px;
    width: 60px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;



}

.wintext{
    position: relative;

    left: 70px;
    top: -208px;
    width: 45px;
    height: 23px;
    line-height: 23px;
    color: rgba(16, 16, 16, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;

}


.loss{
    position: relative;
    left: -2px;
    top: -210px;
    width: 80px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;


}

.losstext{
    position: relative;

    left: 70px;
    top: -233px;
    width: 45px;
    height: 23px;
    line-height: 23px;
    color: rgba(16, 16, 16, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;

    font-weight: bold;
}




.buybutton{
    position: relative;
    left: 100px;
    top: -275px;
    width: 110px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: rgba(245, 93, 84, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 0px 0px 0px rgba(229, 229, 229, 1);
    font-family: Roboto;
    border: 1px solid rgba(255, 255, 255, 0);

}

