
button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
}

.backboard{
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 1024px;
    background-color: rgba(255, 255, 255, 1);
}

.allfuture{
    left: 23px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(253, 104, 87, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.financialfuture{
    left: 248px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.agriculturalfuture{
    left: 480px;
    top: 34px;
    width: 141px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.metalfuture{
    left: 763px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.energyfuture{
    left: 1035px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.chemicalfuture{
    left: 1299px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}

.bottom{
    left: 24px;
    top: 74px;
    width: 101px;
    height: 12px;
    background-color: rgba(253, 104, 87, 1);
}


.sameline{
    float: left;
    margin-left: 50px;
}

/* 修饰选择框，扁平的效果 */
.conditionbutton{
    height: 30px;
    padding-left: 40px;
    padding-right: 40px;
}


.conditiontext{
    margin-top: -5px;
}


.tipboard{
    margin-top: 20px;
    width: 340px;
    height: 160px;
    line-height: 20px;
    opacity: 0.9;
    text-align: center;
    box-shadow: 2px 2px 6px 2px rgba(229, 229, 229, 1);
    position: absolute;
    visibility: hidden;
    z-index: 3;
    background-color: white;
}

.number-tip{
    margin-left: 8px;
    margin-top: -75px;
    width: 176px;
    height: 23px;
    line-height: 20px;
    color: rgba(245, 93, 84, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
}


.self-input{
    width: 85px;
    margin-top: 5px;
    height: 25px;
    text-align: center;
}



.radio-text{
    left: 76px;
    top: 292px;
    width: 65px;
    height: 23px;
    line-height: 23px;
    color: rgba(94, 94, 94, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;

}

.tip-button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    margin-left: 25px;
    background-color: transparent;
    font-weight: bold;
}


.tip-button-cancel{
    left: 260px;
    top: 347px;
    width: 37px;
    height: 26px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}

.tip-button-reset{
    left: 333px;
    top: 347px;
    width: 37px;
    height: 26px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}

.tip-button-confirm{
    left: 398px;
    top: 347px;
    width: 37px;
    height: 26px;
    line-height: 26px;
    color: rgba(0, 150, 136, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}



/* future type bottom行*/

.ft_board{
    margin-top:30px;
}

.ft_button{
    width: 98px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: left;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    margin-left: 89px;
    background-color: transparent;
}

/* future type button行 */

.ftb_board{
    margin-top: -10px;

}

.ftb_bottom{
    width: 98px;
    height: 2px;
    background-color: #FD6857;
    display: inline-block;
    margin-left: 89px;
    visibility: hidden;
}

/* 分割线 */
.divisionline{
    left: 24px;
    top: 102px;
    width: 1394px;
    height: 10px;

}




.futures{
    margin-bottom: 30px;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.futureboard{
    width: 32%;
    height: 400px;
    float: left;
    line-height: 20px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 2px 2px 6px 2px rgba(229, 229, 229, 1);
    border: 1px solid rgba(255, 255, 255, 0);

}

.future_name{
    margin-left: 15px;
    margin-top: 30px;
    width: 77%;
    line-height: 35px;
    color: rgba(143, 167, 255, 1);
    font-size: 24px;
    text-align: left;
    font-family: Roboto;
}

.staricon{
    position: relative;
    width: 28px;
    height: 28px;
    top: -37px;
    left: 125px;
}


.collectbutton{
    position: relative;
    top: -33px;
    left: 125px;
    line-height: 29px;
    color: rgba(255, 152, 0, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}

.legend{
    float: left;
    margin-left: 0px;
    position: relative;
    width: 200px;
    height: 30px;
    top: -20px;
    left: 15px;
    display: inline-block;

}



.lengend_red
{
    width: 8px;
    height: 12px;
    line-height: 20px;
    background-color: rgba(204, 8, 14, 1);
    text-align: center;
    border: 1px solid rgba(204, 8, 14, 1);
}

.lengend_red_text{

    float: left;
    width: 60px;
    height: 17px;
    line-height: 20px;
    color: rgba(204, 8, 14, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

    position: relative;
    top: -15px;
    left: 10px;
}

.lengend_blue
{
    width: 8px;
    height: 12px;
    line-height: 20px;
    background-color: #3F51B5;
    text-align: center;
    border: 1px solid #3F51B5;
    position: relative;
    left: 85px;
    top:-12px;
}

.lengend_blue_text{

    float: left;
    width: 60px;
    height: 17px;
    line-height: 20px;
    color: #3F51B5;
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

    position: relative;
    top: -27px;
    left: 35px;
}

.mobilityvalue{
    position: relative;
    left: 200px;
    top: -53px;
    width: 133px;
    height: 20px;
    line-height: 20px;
    color: rgba(94, 94, 94, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

}


.graphdiv{
    width: 96%;
    height: 140px;
    position: relative;
    left: 10px;
    top: -20px;
}

.info{
    width: 90%;
    height: 120px;
    position: relative;
    left: 0px;
    top:0px;
    display: inline-block;
    /*background-color: #9fcdff;*/
}


.profit{
    position: relative;
    left: 0px;
    width: 70px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

}

.retracement{
    position: relative;
    left: 110px;
    top: -100px;
    width: 70px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

}

.carry{
    position: relative;
    left: 195px;
    top: -200px;
    width: 137px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;

}

.profittext{
    position: relative;

    width: 100px;
    height: 27px;
    line-height: 35px;
    color: rgba(245, 93, 84, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    left: -10px;
    font-weight: bold;
}

.retracementtext{
    position: relative;
    top: -100px;
    left: 80px;
    width: 130px;
    height: 27px;
    line-height: 35px;
    color: rgba(16, 16, 16, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;

}

.carrytext{
    position: relative;
    top: -200px;
    left: 210px;

    width: 100px;
    height: 27px;
    line-height: 35px;
    color: rgba(245, 93, 84, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;

    font-weight: bold;
}




.divisioner1{
    position: relative;
    left: 90px;
    top: -48px;
    width: 1px;
    height: 50px;
    background-color: #96979E;
}


.divisioner2{
    position: relative;
    left: 195px;
    top: -148px;
    width: 1px;
    height: 50px;
    background-color: #96979E;
}





.win{
    position: relative;
    left: 0px;
    top: -185px;
    width: 60px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;



}

.wintext{
    position: relative;

    left: 70px;
    top: -208px;
    width: 45px;
    height: 23px;
    line-height: 23px;
    color: rgba(16, 16, 16, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;
    font-weight: bold;

}


.loss{
    position: relative;
    left: -2px;
    top: -210px;
    width: 80px;
    height: 23px;
    line-height: 23px;
    color: rgba(150, 151, 158, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;


}

.losstext{
    position: relative;

    left: 70px;
    top: -233px;
    width: 45px;
    height: 23px;
    line-height: 23px;
    color: rgba(16, 16, 16, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;

    font-weight: bold;
}




.buybutton{
    position: relative;
    left: 100px;
    top: -275px;
    width: 110px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: rgba(245, 93, 84, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 0px 0px 0px rgba(229, 229, 229, 1);
    font-family: Roboto;
    border: 1px solid rgba(255, 255, 255, 0);

}

