
.backboard{
    left: 0px;
    top: 0px;
    width: 1440px;
    height: 1024px;
    background-color: rgba(255, 255, 255, 1);
}

.allfuture{
    left: 23px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(253, 104, 87, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.financialfuture{
    left: 248px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.agriculturalfuture{
    left: 480px;
    top: 34px;
    width: 141px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.metalfuture{
    left: 763px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.energyfuture{
    left: 1035px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}
.chemicalfuture{
    left: 1299px;
    top: 34px;
    width: 113px;
    height: 40px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;

}

.bottom{
    left: 24px;
    top: 74px;
    width: 101px;
    height: 12px;
    background-color: rgba(253, 104, 87, 1);
}


.sameline{
    float: left;
    margin-left: 50px;
    margin-right: 33px;
}

.tipboard{
    margin-top: 20px;
    width: 240px;
    height: 160px;
    line-height: 20px;
    opacity: 0.9;
    text-align: center;
    box-shadow: 2px 2px 6px 2px rgba(229, 229, 229, 1);
    position: absolute;
    visibility: hidden;
}

.number-tip{
    left: 41px;
    top: 260px;
    width: 176px;
    height: 23px;
    line-height: 20px;
    color: rgba(245, 93, 84, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
}


.self-input{
    margin-top: 5px;
}



.radio-text{
    left: 76px;
    top: 292px;
    width: 65px;
    height: 23px;
    line-height: 23px;
    color: rgba(94, 94, 94, 1);
    font-size: 16px;
    text-align: center;
    font-family: Roboto;

}

.tip-button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    margin-right: 15px;
}


.tip-button-cancel{
    left: 260px;
    top: 347px;
    width: 37px;
    height: 26px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}

.tip-button-reset{
    left: 333px;
    top: 347px;
    width: 37px;
    height: 26px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}

.tip-button-confirm{
    left: 398px;
    top: 347px;
    width: 37px;
    height: 26px;
    line-height: 26px;
    color: rgba(0, 150, 136, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}
