button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
}


.manage {
    position: relative;
    width: 880px;
    margin-top: 20px;
    font-family: Roboto;
    float: right;
    padding-left: 100px;
}

.manageContent {
    width: 420px;
    display: flex;
    flex-direction: column;
}

#sectionName {
    font-size: 24px;
    color: #5E5E5E;
    margin-bottom: 23px;
}
.itemName {
    font-size: 18px;
    color: #5E5E5E;
    margin-bottom: 15px;
}
#emailInput {
    height: 40px;
    background-color: rgba(244, 244, 244, 1);
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
    margin-bottom: 25px;
}
#nameInput {
    height: 40px;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
    margin-bottom: 25px;
}

#riskLevel {
    width: 73px;
    height: 38px;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
    margin-bottom: 42px;
}
#uploadPic {
    width: 232px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgba(16, 16, 16, 1);
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);
    margin-bottom: 40px;
}
#uploadPic:hover {
    cursor: pointer;
}
#submitBtn {
    width: 140px;
    height: 40px;
    line-height: 29px;
    border-radius: 5px;
    background-color: rgba(70, 172, 227, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;

}



#uploadImg {
    margin-bottom: 40px;
}














