
.buyboard{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 520px;
    height: 476px;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    background-color: white;
    visibility: hidden;
}


.buytitle{
    position: relative;
    top: 30px;
    margin: auto;
    width: 257px;
    height: 35px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
    alignment: center;
}



.moneytext{
    position: relative;
    left: 10%;
    top: 50px;
    width: 73px;
    height: 35px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}


.risktext{
    position: relative;
    left: -60px;

    top: 10px;
    height: 35px;
    line-height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
    float: right;


}


.moneyinput{
    position: relative;
    float: left;
    left: 50px;
    top: 60px;
    width: 270px;
    height: 43px;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    text-align: left;
    font-family: PingFang SC;
    border: 1px solid rgba(187, 187, 187, 1);

}


.riskinput{
    position: relative;
    left: 115px;
    top: 60px;
    width: 73px;
    height: 43px;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    text-align: left;
    font-family: Roboto;
    border: 1px solid rgba(187, 187, 187, 1);

}




.account{
    position: relative;
    left: 50px;
    top: 100px;
    float: left;
}


.confirmbuybutton{
    position: relative;
    left: -0px;
    top: 130px;
    width: 419px;
    height: 50px;
    line-height: 29px;
    border-radius: 5px;
    /*background-color: rgba(70, 172, 227, 1);*/
    background-color: rgba(245, 93, 84, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;

}



.closebutton{
    font-size: 20px;
    color: rgba(94, 94, 94, 1);
    position: relative;
    left: 240px;
    top: -230px;
}

.orderboard{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 320px;
    height: 326px;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 1);
    background-color: white;
    visibility: hidden;
}




.ordermoneytext{
    /*position: relative;*/
    float: left;
    text-align: left;
    left: 10%;
    top: 50px;
    width: 200px;
    height: 35px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;

}


.orderrisktext{
    /*position: relative;*/
    float: left;
    text-align: left;
    left: 10%;
    top: 50px;
    width: 200px;
    height: 35px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

.orderaccounttext{
    float: left;
    text-align: left;
    left: 10%;
    top: 50px;
    width: 200px;
    height: 35px;
    line-height: 26px;
    color: rgba(94, 94, 94, 1);
    font-size: 18px;
    text-align: center;
    font-family: Roboto;
}

.paybutton{
    position: relative;
    left: -0px;
    top: 30px;
    width: 120px;
    height: 50px;
    line-height: 29px;
    border-radius: 5px;
    /*background-color: rgba(70, 172, 227, 1);*/
    background-color: rgba(245, 93, 84, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
}

.payclosebutton{
    font-size: 20px;
    color: rgba(94, 94, 94, 1);
    position: relative;
    left: 140px;
    top: -250px;
}

.tipbeforebuy{
    position: relative;
    width: 500px;
    height: 80px;
    font-size: 16px;
    color: rgba(94, 94, 94, 1);
    top:23px;
    left: 30px;
}

