.person_title{
    /*position: relative;*/
    margin-top: 20px;
    width: 200px;
    height: 100px;
    line-height: 100px;
    background-color: #46ACE3;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    text-align: center;
    font-family: Roboto;

}

.person_board{
    /*left: 70px;*/
    /*top: 160px;*/
    width: 200px;
    height: 520px;
    position: relative;
    line-height: 20px;
    color: rgba(16, 16, 16, 1);
    font-size: 14px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(229, 229, 229, 1);

}

.left-tab {
    margin-top: 40px;
    /*width: 90px;*/
    height: 29px;
    line-height: 29px;
    color: #5e5e5e ;
    font-size: 20px;
    text-align: center;
    font-family: Roboto;
    width: 100%;
    cursor: pointer;
}

.left-active {
    color: #46ACE3 ;
}

/*.left-active :after {*/
    /*background-color:#46ACE3 ;*/
    /*width: 10px;*/
    /*height: 30px;*/
    /*margin-left: 40px;*/
    /*content:'aa'*/
/*}*/

/*.accountManage{*/
    /*!*position: relative;*!*/
    /*!*left: 0px;*!*/
    /*margin-top: 40px;*/
    /*!*width: 90px;*!*/
    /*height: 29px;*/
    /*line-height: 29px;*/
    /*color: #46ACE3 ;*/
    /*font-size: 20px;*/
    /*text-align: center;*/
    /*font-family: Roboto;*/
    /*width: 100%;*/
    /*!*border-right: 10px solid #46ACE3;*!*/

/*}*/

.right_block{
    position: absolute;
    left: 189px;
    top: 40px;
    width: 10px;
    height: 30px;
    line-height: 20px;
    background-color: #46ACE3 ;
    /*text-align: center;*/

}

/*.accountPassword{*/
    /*!*position: relative;*!*/
    /*!*left: 0px;*!*/
    /*margin-top: 40px;*/
    /*width: 90px;*/
    /*height: 29px;*/
    /*line-height: 29px;*/
    /*color: rgba(94, 94, 94, 1);*/
    /*font-size: 20px;*/
    /*text-align: center;*/
    /*font-family: Roboto;*/

/*}*/




/*.collectionbutton{*/
    /*!*position: relative;*!*/
    /*!*left: 0px;*!*/
    /*margin-top: 40px;*/
    /*width: 90px;*/
    /*height: 29px;*/
    /*line-height: 29px;*/
    /*color: rgba(94, 94, 94, 1);*/
    /*font-size: 20px;*/
    /*text-align: center;*/
    /*font-family: Roboto;*/
/*}*/

/*.messagebutton{*/
    /*!*position: relative;*!*/
    /*!*left: 0px;*!*/
    /*margin-top: 40px;*/
    /*width: 90px;*/
    /*height: 29px;*/
    /*line-height: 29px;*/
    /*color: rgba(94, 94, 94, 1);*/
    /*font-size: 20px;*/
    /*text-align: center;*/
    /*font-family: Roboto;*/
/*}*/