.top-nav {
    background-color: #050a1a;
    border-bottom: 1px solid rgba(244,244,244,0.2);
    height: 64px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 16px;
}
.top-nav>div {
    display: inline-block;
    width: 1080px;
}
.tab, .logo {
    height: 40px;
    display: inline;
    cursor: pointer;
    float: left;
}
.top-nav .logo img {
    height: 40px;
    width: auto;
    margin-top: 4px;
}
.tab {
    /*color: white;*/
    color: rgba(244, 244, 244, 0.9);
    padding: 12px 4px;
    float: right;
    margin-left: 40px;
}
.tab:hover,.active {
    border-bottom: 2px solid white;
    color:  white;
}
.content-wrapper {
    text-align: center;
}
.content {
    display: inline-block;
    width: 1080px;
    text-align: left;
    min-width: 1080px;
}
.footer>div {
    background-color: rgb(32, 61, 107);
    width: 100%;
    height: 64px;
    text-align: center;
    color: #f4f4f4;
    padding-top: 20px;
    font-size: 16px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.row>div {
    padding-left: 0;
    padding-right: 0;
}

