.top-nav {
    background-color: #050a1a;
    border-bottom: 1px solid rgba(244,244,244,0.2);
    height: 64px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 16px;
}

.top-nav>div {
    display: inline-block;
    width: 1080px;
}
.tab, .logo {
    color: rgba(244, 244, 244, 0.9);
    height: 40px;
    display: inline;
    cursor: pointer;
    float: left;
}
.top-nav .logo img {
    height: 40px;
    width: auto;
    margin-top: 4px;
}
.tab {
    /*color: white;*/
    cursor: pointer;
    padding: 12px 4px;
    float: right;
    margin-left: 40px;
}
.tab:hover,.active {
    border-bottom: 2px solid white;
    color:  white;
}
.content-wrapper {
    text-align: center;
}
.content {
    display: inline-block;
    width: 1080px;
    text-align: left;
    min-width: 1080px;
}
.footer>div {
    background-color: rgb(32, 61, 107);
    width: 100%;
    height: 64px;
    text-align: center;
    color: #f4f4f4;
    padding-top: 20px;
    font-size: 16px;
}


/*login*/
.registerpad{
    /*margin-left: 300px;*/
    /*margin-top: 100px;*/
    /*margin-bottom: 121px;*/
    width: 450px;
    height: 500px;
    position: relative;
    text-align: center;
    /*border: 1px solid rgba(187, 187, 187, 1);*/
}
.login{
    /*margin-left: 200px;*/
    margin-top: 80px;
    /*width: 49px;*/
    height: 35px;
    color: rgba(94, 94, 94, 1);
    font-size: 24px;
    text-align: center;
    font-family: Roboto;
}
.usrname{
    margin-left: 0px;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    text-align: left;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(187, 187, 187, 1);
    text-indent: 10px;
}
.password{
    margin-left: 0px;
    margin-top: 0px;
    width: 300px;
    height: 50px;
    color: rgba(136, 136, 136, 1);
    font-size: 18px;
    text-align: left;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(187, 187, 187, 1);
    text-indent: 10px;
    border-top: none;
}
.submit{
    margin-left: 52px;
    margin-right: 52px;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(70, 172, 227, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    border:none;
}
.text01{
    margin-left: 0px;
    margin-right: 0px;
    width: 78px;
    height: 23px;
    color: black;
    font-size: 15px;
    font-family: Roboto;
}
.text02,.text02:hover{
    margin-left: 0px;
    margin-right: 160px;
    width: 78px;
    height: 23px;
    color: rgba(70, 172, 227, 1);
    font-size: 16px;
    font-family: Roboto;
}




.row {
    margin-left: 0;
    margin-right: 0;
}
.row>div {
    padding-left: 0;
    padding-right: 0;
}

input {
    text-indent: 6px;
}

textarea {
    padding: 6px;
}

button:focus {
    outline: none;
    cursor: pointer;
}

